---
import BaseHead from '../components/Head/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer/Footer.astro'

let title = 'Gaborgyure - services';
let description = '';
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-white text-black font-body leading-normal personality-casual">
    <Nav />

    <main class="py-12 lg:py-20">
      <article class="max-w-6xl mx-auto px-3">
        <header class="mx-auto max-w-3xl text-center content">
          <h1 class="mb-4">Services</h1>

          <div class="">
            <section class="intro svelte-1ea1tyl"><h2>Welcome!
        </h2>
        <p>Please have a look at the services I provide and feel free to contact me with requests for quotation or any question!
        </p>
        <small><p>Hover over prices to see instructions on sending RfQs.
            </p>    
            <p>Click on card to send RfQ.
            </p></small></section>
    
    <main class="main svelte-1ea1tyl"><div class="it h2 svelte-133241o"><h2>Web Services</h2>
            <div class="container svelte-3wsmzp"><a href="mailto:gabor@gaborgyure.com?subject=Website development quote" class="svelte-3wsmzp"><h3>Website development</h3>
        <div class="emoji svelte-3wsmzp">🌐</div>

        <p class="svelte-3wsmzp">Have an attracting startpage for your business</p>

        <dl class="data svelte-3wsmzp"><dt><strong>Optimized for
            </strong></dt><dd>Sales conversion</dd>
                <dd>Social sharing</dd>
                <dd>Inclusivity</dd><dt><strong>Price
            </strong></dt><dd class="cta svelte-3wsmzp" data-descr="Please provide information on Your desired content, functionality and number of pages!">From 800 EUR</dd></dl></a>
</div>
            <div class="container svelte-3wsmzp"><a href="mailto:gabor@gaborgyure.com?subject=Website administration quote" class="svelte-3wsmzp"><h3>Website administration</h3>
        <div class="emoji svelte-3wsmzp">📝</div>

        <p class="svelte-3wsmzp">Maintain and optimize your existing site</p>

        <dl class="data svelte-3wsmzp"><dt><strong>Optimized for
            </strong></dt><dd>Sales conversion</dd>
                <dd>Security</dd>
                <dd>Cost optimization</dd><dt><strong>Price
            </strong></dt><dd class="cta svelte-3wsmzp" data-descr="Please provide information on Your desired page traffic, setup and services!">From 50 EUR per month</dd></dl></a>
</div>
            <div class="container svelte-3wsmzp"><a href="mailto:gabor@gaborgyure.com?subject=IT Support quote" class="svelte-3wsmzp"><h3>IT Support</h3>
        <div class="emoji svelte-3wsmzp">🎫</div>

        <p class="svelte-3wsmzp">Get help for when your colleagues get stuck</p>

        <dl class="data svelte-3wsmzp"><dt><strong>Optimized for
            </strong></dt><dd>Resource Efficiency</dd>
                <dd>Client Satisfaction</dd>
                <dd>Competence development</dd><dt><strong>Price
            </strong></dt><dd class="cta svelte-3wsmzp" data-descr="Please provide information on Your desired org size and types of service!">From 50 EUR per month</dd></dl></a>
</div>
            <div class="container svelte-3wsmzp"><a href="mailto:gabor@gaborgyure.com?subject=Data visualization quote" class="svelte-3wsmzp"><h3>Data visualization</h3>
        <div class="emoji svelte-3wsmzp">📈</div>

        <p class="svelte-3wsmzp">Amaze stakeholders with stories told by data</p>

        <dl class="data svelte-3wsmzp"><dt><strong>Optimized for
            </strong></dt><dd>Quick, accurate decisions</dd>
                <dd>Transparent operations</dd>
                <dd>Understandable and engaging insights</dd><dt><strong>Price
            </strong></dt><dd class="cta svelte-3wsmzp" data-descr="Please provide information on Your desired dataset, audience and initial structure ideas!">From 50 EUR per chart</dd></dl></a>
</div></div>
        <div class="mech h2 svelte-133241o"><h2>Engineering Services</h2>
            <div class="container svelte-3wsmzp"><a href="mailto:gabor@gaborgyure.com?subject=Concept design quote" class="svelte-3wsmzp"><h3>Concept design</h3>
        <div class="emoji svelte-3wsmzp">🎛️</div>

        <p class="svelte-3wsmzp">Get your product idea to life in no time</p>

        <dl class="data svelte-3wsmzp"><dt><strong>Optimized for
            </strong></dt><dd>Capital Funding</dd>
                <dd>Getting engagement</dd>
                <dd>Technical validity</dd><dt><strong>Price
            </strong></dt><dd class="cta svelte-3wsmzp" data-descr="Please provide information on Your desired product idea and outcome of the concept!">From 500 EUR per iteration</dd></dl></a>
</div>
            <div class="container svelte-3wsmzp"><a href="mailto:gabor@gaborgyure.com?subject=Product platform management quote" class="svelte-3wsmzp"><h3>Product platform management</h3>
        <div class="emoji svelte-3wsmzp">🏷️</div>

        <p class="svelte-3wsmzp">Have your products make sense in any context</p>

        <dl class="data svelte-3wsmzp"><dt><strong>Optimized for
            </strong></dt><dd>Quality</dd>
                <dd>Lower risks</dd>
                <dd>Fast market response</dd><dt><strong>Price
            </strong></dt><dd class="cta svelte-3wsmzp" data-descr="Please provide information on Your desired product scope, scope size and missing functionality!">From 2000 EUR per iteration</dd></dl></a>
</div>
            <div class="container svelte-3wsmzp"><a href="mailto:gabor@gaborgyure.com?subject=Document management quote" class="svelte-3wsmzp"><h3>Document management</h3>
        <div class="emoji svelte-3wsmzp">🗂</div>

        <p class="svelte-3wsmzp">Keep your folders sorted as a charm</p>

        <dl class="data svelte-3wsmzp"><dt><strong>Optimized for
            </strong></dt><dd>Less IT costs</dd>
                <dd>Easier audits</dd>
                <dd>Less low-value work</dd><dt><strong>Price
            </strong></dt><dd class="cta svelte-3wsmzp" data-descr="Please provide information on Your desired folder size and types of documentation, notified bodies and document input!">From 50 EUR per month</dd></dl></a>
</div>
            <div class="container svelte-3wsmzp"><a href="mailto:gabor@gaborgyure.com?subject=Contract Engineering quote" class="svelte-3wsmzp"><h3>Contract Engineering</h3>
        <div class="emoji svelte-3wsmzp">📐</div>

        <p class="svelte-3wsmzp">Have key projects met on time with no errors</p>

        <dl class="data svelte-3wsmzp"><dt><strong>Optimized for
            </strong></dt><dd>Less overhead</dd>
                <dd>Lower risk</dd>
                <dd>High technical accuracy</dd><dt><strong>Price
            </strong></dt><dd class="cta svelte-3wsmzp" data-descr="Please provide information on Your desired project scope, missing resources, deadlines to meet!">From 28 EUR per hour</dd></dl></a>
</div></div></main>

 <!-- -->

    <section class="container svelte-10je3o9"><div class="title svelte-10je3o9">My references:</div>
<div class="logos svelte-10je3o9"><div class="container svelte-hlwi6q"><a href="https://bosch.com" target="_blank"><img src="/images/Bosch.jpg" alt="Bosch" class="logo svelte-hlwi6q"></a>
</div>
    <div class="container svelte-hlwi6q"><a href="https://cryonorm.com" target="_blank"><img src="/images/cryonorm.png" alt="cryonorm" class="logo svelte-hlwi6q"></a>
</div>
    <div class="container svelte-hlwi6q"><a href="https://miskolcigeneracio.hu" target="_blank"><img src="/images/MAG.png" alt="MAG" class="logo svelte-hlwi6q"></a>
</div>
    <div class="container svelte-hlwi6q"><a href="https://zoldkapcsolat.hu" target="_blank"><img src="/images/zoldkapcsolat.jpg" alt="zoldkapcsolat" class="logo svelte-hlwi6q"></a>
</div>
    <div class="container svelte-hlwi6q"><a href="https://wp.tekoma.hu" target="_blank"><img src="/images/tekoma.png" alt="tekoma" class="logo svelte-hlwi6q"></a>
</div>
    <div class="container svelte-hlwi6q"><a href="https://uni-mate.hu" target="_blank"><img src="/images/mate.jpg" alt="mate" class="logo svelte-hlwi6q"></a>
</div>
    <div class="container svelte-hlwi6q"><a href="https://er-petro.hu" target="_blank"><img src="/images/er-petro.png" alt="er-petro" class="logo svelte-hlwi6q"></a>
</div>
    <div class="container svelte-hlwi6q"><a href="https://paczera.hu" target="_blank"><img src="/images/Paczera.jpg" alt="Paczera" class="logo svelte-hlwi6q"></a>
</div></div>
<!-- -->
</section>
        </header>
      </article>
    </main>
    <Footer />
  </body>
</html>


<style>

.main {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        max-width: 1200px;
    }
    .intro {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

   .container {
        border-radius: 2rem;
        border: 2px solid grey;
        font-family: Arial, Helvetica, sans-serif;
        margin: 2rem;
        max-height: 500px;
        max-width: 350px;
        padding: 1rem;
        transition: all 0.5s ease;
    }
    h2, .emoji, p {
        text-align: center;
    }
    .container:hover {
        box-shadow: 3px 3px 3px grey;
        transform: scale(1.05);
        background-color: #f3f3f3;
    }
    a {
        color: black;
        text-decoration: none;
    }
    .data {
        text-align: justify;
    }
    .emoji {
        font-size: xx-large;
    }
    .cta[data-descr] {
        position: relative;
        text-decoration: none;
        color: #000;
        cursor: help;
        font-weight: 700;
        }
    .cta[data-descr]:hover::after,
    .cta[data-descr]:focus::after {
        content: attr(data-descr);
        position: absolute;
        left: 0;
        top: 24px;
        min-width: 200px;
        border: 1px #aaaaaa solid;
        border-radius: 10px;
        background-color: #ffffcc;
        padding: 12px;
        color: #000000;
        font-size: 14px;
        z-index: 1;
        }
  

  .h2 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    .logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        
    }

    .container {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 2rem;
    }

    .title {
        font-family: Arial, Helvetica, sans-serif;
    }

        .logo {
        filter: grayscale(1);
        width: 10rem;
    }

    .container {
        padding: 1rem;
        transition: all 0.5s ease;
    }
    
    .container:hover {
        transform: scale(1.05);
    }
</style>